# 缓存文件夹
__pycache__/
tmp/

# 通用 checkpoint 目录
checkpoints/
checkpoint/
ckpts/
ckpt/
results/
saved_models/
runs/
*.bin

# 软链接
slink_*/
slink_*

# 数据集，模型目录
datasets/
models/
datasets
models

# 别人的仓库
repos/
repos

# macOS
.DS_Store

# IDE 配置文件
.vscode/
.idea/

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 环境
venv/
env/
ENV/
*.egg-info/
.eggs/
build/
dist/
*.egg
pip-wheel-metadata/
.venv/


# 日志文件
logs/
log/

# 压缩包
*.zip
*.rar
*.7z
*.tar.gz
*.bz2

# 缓存文件
*.cache
*.bak
*.tmp
*.swp
